{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/error_page.css" />
    <link rel="stylesheet" href="../static/css/buttons.css" />
    <title>ASCII-ART-WEB</title>
  </head>

  <body>
    <a href="/" class="home_button"
      ><img src="../static/icon/new gray.png"
    /></a>
    <div class="container">{{ template "content" . }}</div>
    <!-- /container -->
  </body>
</html>
{{ end }}
